/* add style here */
#login_container{
    position:relative;
    top:200px;
}

.global-background{
    background-image: url("../img/login_back.jpg");
}

.home-background{
    background: #ff514c url(../img/noise.png);
}


.hero-unit-opacity{
    opacity: 0.8;
}

.hero-unit-opacity2{
    opacity: 0.9;
}

.hero-unit-color-gray{
    color: #d3d3d3;
    background-color: #d3d3d3;
}

.font-white{
    color: #add8e6;
}

#welcome-page{
    position: relative;
    top: 50px;
}


.white-rounded-opacity p{
    color: #000000;
}

.normal-center{
    position:relative;
    top:100px;
    left: 27%;
}
.home-container{
    position: relative;
    top: 50px;
}

.home-side-bar-rounded{
    /*width: 250px;*/
    /*padding: 0;*/
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.home-side-bar-rounded li{
    cursor: pointer;
}

.anti-opacity p h1{
    opacity: 1.0;
    color: #000000;
}

.sign-up-font-setting{
    font-weight: bold;
}

.btn-center{
    position: relative;
    left: 40%;
}

/*自定义的navbar*/
body > .navbar {
    font-size: 13px;
}

body > .navbar .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: left;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}


